#faqs {
  padding-bottom: 30px;
  border-bottom: 1px solid #dfdfdf;
  ul {
    margin-top: 20px;
    float: left;
    width: 50%;
    li
    {
      width: 400px;
      margin: 0 49px 30px 0;
      p {
        margin-top: 10px;
        line-height: 1.4;
        font-size: 18px;
      }
    }
  }
}