<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h4>Frequently Asked Questions</h4>
    <ul>
      <li>
        <details class=''>
          <summary><span>What will the money be used for?</span></summary>
          <p>As stated previously, we are a fully student run team. The money will be used for anything ranging from aluminum stock to competition fees and new battery cells for the electric car.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary><span>How can I find out more about the team?</span></summary>
          <p>Our website, <a href="http://uwformula.com">uwformula.com</a>, has a ton of awesome and in depth information about the team. You can also check us out on <a href="https://www.facebook.com/uwfsae">Facebook under UWashington Formula SAE</a> or @UWFSAE on Twitter.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary><span>When can I come see the cars?</span></summary>
          <p>May 20th is our annual unveiling event where we show off the new cars to the public for the first time. For more information, keep in touch with our <a href="https://www.facebook.com/uwfsae">Facebook page</a> and <a href="http://uwformula.com/">website</a>.
          </p>
        </details>
      </li>
    </ul>
    <ul class='col2'>
      <li class=''>
        <details class=''>
          <summary><span>How much of the money goes towards us?</span></summary>
          <p>The money goes directly to the team, after 2.9% + 30&cent; in credit card processing fees.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary><span>How is my payment information secured?</span></summary>
          <p>We don't directly handle any credit card information. Your payment details are processed securely with <a href="https://stripe.com/">Stripe</a> via HTTPS/SSL.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary><span>Is this tax-deductible?</span></summary>
          <p>Yes, SAE International is a registered charitable 501(c)(3) organization.
            <p>If you require a specific tax receipt (other than the information provided by your email receipt), one can be provided.</p>
            <p>Please contact uwfsae@uw.edu for more information about your tax deduction.</p>
          </p>
        </details>
      </li>
    </ul>
  </div>
</div>
