<div class="big_wrapper">
  <div class="wrapper">
    <img class="pull-right" src="<%= image_path("key-point-1.jpg") %>">
    <div class="point_copy">
      <h3>
        What is Formula SAE?
      </h3>
      <p>
        Formula SAE is an international collegiate competition in which universities from around the world design, build, and race formula-style racecars to compete in a multifaceted design competition. Our team has been competing for the last 26 years.
      </p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper">
    <img class="pull-left" src="<%= image_path("key-point-2.jpg") %>">
    <div class="point_copy">
      <h3>
        Racecars in college?
      </h3>
      <p>
        FSAE is <em style="font-style: italic;">the</em> most valuable experience our team members have in college. While classes are important, real world engineering starts in our shop. We design and manufacture nearly every part of our cars in a well justified engineering exercise that just so happens to go 0-60 in 3.5s.
      </p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper">
    <img class="pull-right" src="<%= image_path("key-point-3.jpg") %>">
    <div class="point_copy">
      <h3>
        Are you any good?
      </h3>
      <p>
        Last year we competed in 3 competitions, and we placed 2nd in design at Lincoln and 6th in Germany. Currently we are ranked 27th out of 136 American teams. We are one of the only teams in the world who competes both in the combustion and electric divisions.
      </p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <img class="pull-left" src="<%= image_path("key-point-4.jpg") %>">
    <div class="point_copy">
      <h3>
        How can I help?
      </h3>
      <p>
        As a completely student run team, we rely on funding from generous sponsors to allow us to build cars each year. The bulk of the materials, tools, and equipment we use are funded by sponsors like you. We can guarantee that your donations will be crucial to our experience as engineering students.
      </p>
    </div>
  </div>
</div>
