<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h4>Tier 1: $1 - $149</h4>
      <p>Thank you for your support. Your Name will be included on the “individual sponsors” portion of our website</p>
    </li>
    <li id="section-2">
      <h4>Tier 3: $300 - $499</h4>
      <p>On top of all the rewards from the previous tiers; Tier 3 donors will also receive a team calendar</p>
    </li>
    <li id="section-3">
      <h4>Tier 2: $150 - $299</h4>
      <p>In addition to Tier 1 rewards, Tier 2 donors will receive a team T-Shirt and have their name of one of the cars</p>
    </li>
    <li id="section-4">
      <h4>Tier 4: $500 - $999</h4>
      <p>Tier 4 donors will receive everything previously mentioned, as well as a Framed Picture and VIP Seating at Unveiling on May 20th</p>
    </li>
    <li id="section-6" style="width: 920px; margin-right: 0px">
      <h4 style="width: 920px">Tier 5: $1000+</h4>
      <p style="text-align: center">Everything above as well as Driving the Car</p>
    </li>
  </ul>
</div>
