<div class="sidebar main_content">
  <ul>
    <li id="section-1">
      <h5>Tier 1: $1 - $149</h5>
      <p>Thank you for your support. Your Name will be included on the “individual sponsors” portion of our website</p>
    </li>
    <li id="section-2">
      <h5>Tier 2: $150 - $299</h5>
      <p>In addition to Tier 1 rewards, Tier 2 donors will receive a team T-Shirt</p>
    </li>
    <li id="section-3">
      <h5>Tier 3: $300 - $499</h5>
      <p>On top of all the rewards from the previous tiers; Tier 3 donors will also receive a team calendar</p>
    </li>
    <li id="section-4">
      <h5>Tier 4: $500 - $999</h5>
      <p>Tier 4 donors will receive everything previously mentioned, as well as a Framed Picture and VIP Seating at Unveiling on May 20th</p>
    </li>
    <li id="section-5">
      <h5>Tier 5: $1000+</h5>
      <p>Everything above as well as Driving the Car</p>
    </li>
  </ul>
</div>
