<div class="sidebar main_content">
  <ul>
    <li id="section-1">
      <h5>Tier 1: $1 - $49</h5>
      <p>Thank you for your support. Your name will be included on the “Individual Sponsors” portion of our website.</p>
    </li>
    <li id="section-2">
      <h5>Tier 2: $50 - $124</h5>
      <p>In addition to Tier 1 rewards, Tier 2 donors will receive a team vinyl sticker.</p>
    </li>
    <li id="section-3">
      <h5>Tier 3: $125 - $199</h5>
      <p>In addition to the benefits of Tier 1 and 2 donors, Tier 3 donors will receive a team t-shirt.</p>
    </li>
    <li id="section-4">
      <h5>Tier 4: $200 - $349</h5>
      <p>On top of all the rewards from the previous tiers; Tier 4 donors will also have their names on one of the two team cars that we are building this year.</p>
    </li>
    <li id="section-5">
      <h5>Tier 5: $350 - $500</h5>
      <p>All of the above and VIP seating for two at our unveiling event on May 15th, as well as be the first ones to go up on stage and to see the cars.</p>
    </li>
    <li id="section-6">
      <h5>Tier 6: $501+</h5>
      <p>You are awesome. People like you enable us to bring our best engineering ideas to fruition. We can't think of anything better to give you besides our deepest gratitude and everything from Tier 5, but if we do think of something, you'll be first in line.</p>
    </li>
  </ul>
</div>